<div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-search-product (filterEvent)="filterProduct($event)"></app-search-product>
    </div>
    <div class="col-md-8">
      <a [routerLink]="['/products/addproduct']" class="btn btn-success">Add Product</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Units In Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <td> {{p.productName}} </td>
            <td> {{p.unitPrice}} </td>
            <td> {{p.unitsInStock}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->

</div>
