<div class="container">
  <div class="row mt-3">
    <div class="col-md-6">
      <form [formGroup]="loginForm!" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label ">Email Id</label>
          <input type="text" class="form-control" formControlName="emailId">
        </div>
        <div class="mb-3">
          <label class="form-label ">Password</label>
          <input type="text" class="form-control" formControlName="password">
        </div>
        <div class="mt-2">
          <button type="submit" class="btn btn-primary me-2">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="statusCode==400">
        <div class="text-danger">Invalid EmailId or Password</div>
      </div>
    </div>
  </div>
</div>
